body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #82B6DA;
    font-family: Arial, sans-serif;
}

.calendar {
    background-color: #fff;
    width: 280px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: #8A8A8A;
    font-size: 12px;
    font-weight: bold;
}

.header-divider {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 12px 0; 
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #8A8A8A;
    font-size: 10px;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    font-size: 12px;
    font-weight: bold; 
}

.calendar-dates div {
    padding: 6px;
    border-radius: 50%;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-dates .prev-month {
    color: #cccccc; 
}
.calendar-dates .highlight {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-dates .current-day {
    background-color: #d45207;
    color: white;
}

.calendar-dates .event-day {
    border: 1.5px solid #db4dbf;
    color: #db4dbf;
    position: relative;
}

.calendar-dates .border-only {
    border: 1.5px solid #d45207;
    color: #d45207;
    background-color: transparent;
    position: relative;
}

.calendar-dates .event-day::after {
    content: attr(data-event-count);
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: #ca5fb5;
    color: white;
    border-radius: 50%;
    font-size: 8px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-dates .border-only::after {
    content: attr(data-event-count);
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: #d45207;
    color: white;
    border-radius: 50%;
    font-size: 8px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 10px 0;
}

.calendar-footer {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: bold; 
    color: black;
    margin-top: 8px;
}

.calendar-footer .plus-button {
    background-color: transparent;
    border: 1.5px solid #d45207;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: black;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    line-height: 18px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}